
*{
    margin:0;
    padding:0;
}

body {
    box-sizing: border-box;
    font-size: 20px;
    color: rgba(51,51,51,1);
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, .line-chart-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

b {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.cover-pic {
    padding-top: 6em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text-container{
    padding: 0 0 3em;
    display:grid;
    justify-items: center;
}

h1 {
    padding: 0 0 1em;
    font-weight: 800;
    line-height: 130%;
    text-align: center;
    width: 50%;
    font-size: 50px;
  }

span.red {
  color: #D36135;
}

.subhead{
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: 40%;
    line-height: 150%;

}

.byline {
    text-align:center;
    margin: 2em 0 5em;

}


section {
  margin: 3em 0 0em;
  display: grid;
  justify-items: center;
}


.content {
    width: 55%;
    line-height: 167%;
/*    letter-spacing: 0.02em;*/
}

.two-col {
    display: grid;
    grid-template-columns: 55vw 45vw;
    position: relative;
    margin: 3em 0;
}


.paragraph-container-right {
    margin-right: 1em;
    display: grid;
    justify-items: center;
}

h2, h3 {
  width: 80%;
  padding-bottom: 1em;
}

h3 {
  padding-bottom: 0.5em;
}

.centered-h2, h4 {
  width: 55%;
}

#network-graph-container h2 {
  padding: 0;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  text-decoration: underline rgba(51,51,51,0.8);
  font-style: italic;
  color: rgba(51,51,51,1);
}

.right-col-text {
    opacity:0.3;
    margin-bottom: 8em;
    width: 80%;
    line-height: 167%;
    letter-spacing: 0.02em;
}

.right-paragraph-full-opacity {
    opacity:1; 
}

#corpus-chart-explain img {
  margin-top: 2em;
}


.chart-container-left {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    margin-bottom: 3em;

}

.data-des-container {
  display: grid;
  justify-items: center;
}

.data-des {
  color: rgba(51,51,51,0.6);
  font-size: 14px;
  padding: 0 2em;
  max-width: 80%;
}

.data-des-top-line {
  width: 80%;
  border-top: 1px solid rgba(51,51,51,0.3);
}

#use-of-word-chart-container{
  top: 10em;
  height: 50vh;
}

#use-of-word-chart {
    height: 100%;
    width: 55vw;
}

#triangle-graph-container {
  top: 0.5em;
  height: fit-content;

}

.last {
  min-height: 25em;
}

.lines {
    mix-blend-mode: multiply;
}

.line-axis path {
  stroke : rgba(51,51,51,0.5);
  stroke-width: 1px;
}

.line-axis .tick {
  opacity: 1;
}

.line-axis text {
    fill: rgba(51,51,51,0.5);
    font-size: 10px;
}

.line-chart-title {
    font-size: 20px;
    font-weight: 600;
    width: 70%;
}

#china-legend {
  color: #D36135;
}

#coro-legend{
  color: #875D9A;
}

#covid-legend{
  color: #61D3A5;
}

#cases-legend {
  color: #E9D985;
}

#total-legend{
  color: #6A8E7F;
}

#num-legend{

  color:#D0CFEC;
}

#deaths-legend{
  color: #B7B3A1;
}

#triangle-graph {
   position: relative;
   cursor: pointer;
   width: 55vw;
}

  #triangle-graph  {
    height: 90vh;
  }

.triangle-point-group {
  isolation: isolate;
}


.axis .domain {
  display: none; 
}

line.grid {
    stroke: #999;
}

.tick line:first-of-type {
  stroke: transparent;
 }

.tick {
    opacity: 0;
}

.axis g.tick:first-of-type { 
  opacity: .5; 
}

.axis g.tick:first-of-type text { 
  opacity: 0; 
}

text.label {
    font-size: 16px;
    letter-spacing: normal;
    fill: rgba(51,51,51,0.8);
    font-family: 'Montserrat', sans-serif;
}

text#i {
  text-anchor: start;
}

text#ii {
  text-anchor: end;
}

.circle-size-legend circle {
  fill:rgba(51,51,51,0.2);
/*  stroke:;*/
}

.circle-size-legend text, .rect-color-legend text {
  fill:rgba(51,51,51,0.8);
  font-size: 14px;
  baseline-shift: -50%;
 font-family: 'Montserrat', sans-serif;

}

 .rect-color-legend text {
  font-size: 12px;
  baseline-shift: -80%;
 }

.jan-point, .feb-point, .mar-point {
  pointer-events: all;
  curosr: pointer;
/*  mix-blend-mode: multiply;*/
}

.first-part-line, .second-part-line {
    opacity: 0;
    pointer-events: none;
}

.des-month {
  display: inline-block;
  line-height: 0.5;
}

#des-jan {
  color: #f5ccba;
}

#des-feb {
  color: #e8926d;
}

#des-mar {
  color: #c2420f;
}



.tool-tip{
    top: 0;
    left: 0;
    opacity: 1;
    text-align:center; 
 /*   min-height: 5em;*/
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
    

.tool-tip p {
  padding: .1em 1em;
  width: fit-content;
  border: solid 1px rgba(51,51,51,0.1);
  box-shadow: 2px 2px 4px rgba(51,51,51,0.1);
  border-radius: 5px;
  color: rgba(51,51,51,0.8);
  font-family: 'Montserrat', sans-serif;

}

#triangle-tooltip {
/*  display: inline-block;
  position: absolute;*/
  font-size: 16px;
  line-height: 110%;
  height: 4.8em;
  margin-bottom: 0.1em;
}


#network-graph-container,
#network-graph {
  display: grid;
  justify-content: center;
}

#network-graph-container {
  height: fit-content;
  margin: 0px;
  padding: 0px;
}


#network-graph {
  max-width: 95%;
  height: 90vh;
  position: relative;

}

.network-node {
  cursor: pointer;
}

.network-graph-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
}

.network-graph-checkbox span {
  margin-right: .5em;
}

button {
  padding: .3em;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  color: rgba(51,51,51,0.8);
}

button.active {
  background-color: rgba(51,51,51,0.5);
  color: #fcfcfc;
}

#network-graph-tooltip {
  position: absolute;
  max-width: 15em;
  background-color:rgba(255,255,255,0.8);
  font-size: 16px;
  color: rgba(51,51,51,0.8);
  padding: .5em 1em;
  box-shadow: 1px 1px 3px rgba(51,51,51,0.5);
  visibility: hidden;
  border-radius: 3px;
}


ul {
  list-style: none; /* Remove default bullets */
  font-size: 200%; 
  display: flex;
  flex-flow: wrap;
  justify-content:center;
  font-family: 'Montserrat', sans-serif;
}

#platform-legend{
  display: none;
}

li {
  margin-right: 1em;
}


li span {
  font-size: 50%;
  vertical-align: middle;
  color: rgba(51,51,51,0.8);
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: .5em; /* Also needed for space (tweak if needed) */
  vertical-align: middle;
}

li#detention-over-five::before {color:#E9D985;}
li#detention-less-five::before {color:#DC602E;}
li#admonition::before {color:#6A8E7F;}
li#fine::before {color:#875D9A;}
li.others::before {color:gray;}
li#wechat::before {color:#61D3A5;}
li#weibo::before {color:#D36135;}


.methodology-container{
  margin: 5em 0 3em;

}

.methodology-container .data-des-top-line {
  width: 60%;
}


h4 {
  color: rgba(51,51,51,0.9);  
  font-size: 18px;
  margin: 0.5em 0 1em;
}

.methodology  {
  color: rgba(51,51,51,0.8);
  line-height: 130%;
  margin-top: 2em;
  display: grid;
  justify-items: center;
  font-size: 16px;
}

footer {
 background-color:  rgba(51,51,51,0.2);

}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    justify-content: space-around;
}

footer div {
  margin: 2em;
}

.seperator {
  border-top: 1.5px solid rgba(51,51,51,0.5);
  margin: 0.5em 0;
}

footer p {
  font-size: 14px;
  font-family: 'Montserrat' !important;
  line-height: 160%;
}

/* Phone */
@media only screen 
and (max-device-width: 500px)  {

  body {
    font-size: 18px;
  }

  h1 {
    line-height: 130%;
    font-size: 28px;
    width: 90%;
  }

  .subhead {
    font-size: 14px;
    width: 80%;
  }

  .centered-h2, h4 {
  width: 88%;
}

  .content {
    width: 88%;
  }

  .two-col {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .chart-container-left{
    margin-bottom: 0;
  }

  #triangle-graph-container, #use-of-word-chart-container{
    top: 0em;
    background-color:white;
    z-index: 100;
    height: 50vh;
  }


  .line-chart-title {
    font-size: 16px;
    min-height: 3em;
    max-height: 8vh;
    max-width: 80%;
  }

  #use-of-word-chart, #triangle-graph {
    width: 100vw;
  }

  #use-of-word-chart {
    height: 40vh;
  }

  .paragraph-container-right {
    z-index:-1;
    margin-right: 0;
    margin-top: 5em;
  }


  #triangle-graph  {
    height: 18em;
    display: grid;
    justify-content: center;
    align-content: start;
}


  text.label {
    font-size: 12px;
  }

.tool-tip{
    margin-bottom: 1em;
    font-size: 12px;
}

.data-des-container {
    display: none;
}

ul {
  font-size: 180%;
}

.network-graph-checkbox {
  margin: 0.5em 0;
}

button {
  font-size: 14px;
}

.methodology-container .data-des-top-line {
  width: 88%;
}

.three-col {
    grid-gap: 0em;
    display :flex;
    justify-content: stretch;
    flex-flow: wrap;
}

footer div {
    margin: .5em;
}

footer h4 {

  display: inline;
  font-size: 14px;
  border-bottom: 1px solid rgba(51,51,51,0.5);
}

.seperator {
  width:0%;
}

footer p {
  font-size: 10px;
}


.circle-size-legend text, .rect-color-legend text, #triangle-tooltip  {
  font-size: 12px;
}

.invisible-in-mob {
  display: none;
  visibility: hidden;
}

#network-graph-container {
  height: 0;
  margin: 0px;
  padding: 0px;
}

}

@media only screen 
and (max-device-height: 568px)  {

  #triangle-graph  {
    height: 15em;
    display: grid;
    justify-content: center;
    align-content: start;
}

  text.label {
    font-size: 10px;
  }
}





